.containerHome {
  background-color: brown;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.header {
  width: 100%;
}

.sidebar {
  width: 256px;
}

.content {
  width: 100%;
  flex: 1;
}

.footer {
  width: 100%;
}

/* @media screen () {
  .sidebar {
    width: 100%;
  }
} */
